.test {

	color: green;
	font-size:148px;
	background-image:url("https://cdnp0.stackassets.com/b8ddcce4e1ee4a306b950072347c9c41a2f7ce69/store/8868349bf8e76a177fb85a2efcc3e03e03c6ed2139798e75c40c7cea491a/sale_167088_article_image.jpg");
	background-size:cover;
	background-border:40px
}
